# Assignment 1 

####1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*,'hello', -87.8,-,/,+,6

Ans: There are total of 4 Operators and 3 Values, They are:<br>
Operators: *,-,/,+<br>
Values: 'hello', 87.8, 6

####2. What is the difference between string and variable?
<br>
Ans: Variable are reserved memory location that stores values.variable are examples of identifier and A string is a group of characters.if we want to use text in python, you have to use string. String is a type of information you would store in a Variable. A single character usually enclosed in Double quotes " " or single quotes ' '

####3. Describe three different Data Types ?
Ans: Three fundamental Data types in python are int, float, complex.

1.int data type: We can use int data type to represent whole numbers (integral values). <br>
2.float data type: We can use float data type to represent floating point values (decimal values). <br>
3.complex data type: Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j.

In [1]:
#Examples
# int data type
int_num=4567
print(int_num, type(int_num))
# float data type
float_num=1.2e3
print(float_num, type(float_num))
# Complex data type
complex_num=12+2.5j
print(complex_num, type(complex_num))

4567 <class 'int'>
1200.0 <class 'float'>
(12+2.5j) <class 'complex'>

####4. What is an expression made up of? What do all expressions do?
Ans: An expression is a combination of (values, variables, operators) that represents a value. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the values.<br><br>
When an expression has more than one operator. then the expression is evaluated using the operator precedence chart.

In [2]:
5+6*10/2

35.0

####5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: <br>Expression <br>
An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

eg: 4*4+10-60 # Expression

Statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

eg: variable declaration and assignment are statements because they do not return a value

In [3]:
#Example:
4*4+10-60 # Expression
course = 'FullStack DataScience' # Statement
print("Hello World !") # Is a Expression Statement

Hello World !

####6.After running the following code, what does the variable bacon contain?
bacon = 22 <br>
bacon + 1

Ans: The variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon (that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

In [4]:
# Example 1
bacon=22
bacon+1
print(bacon)

22

In [6]:
#Example 2
bacon=22
bacon=bacon+1 
print(bacon)

23

####7.What should the values of the following two terms be?
'spam'+'spamspam'<br>
'spam'*3

Ans: Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows as String Multiplication

In [7]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

####8. Why is eggs a valid variable name while 100 is invalid?
Ans: In python,Variable names cannot begin with a number. The python rules for naming a variable are :-

- Variable name must start with a letter or the underscore character.
- Variable name cannot start with a number.
- Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
- Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
The reserved words(keywords) cannot be used naming the variable.

In [8]:
egg='Ineuron' # Valid  Initilization
100='hello' # Invalid Initilization
print(egg) #prints the value of egg ie Ineuron
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: ignored

####9.What three functions can be used to get the integer,floating-point number,or string version of a value?
Ans: The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [9]:
# Examples:
print('int(10.0) -> ',int(49.4)) # int() function converts given input to int
print('float(10) -> ',float(45)) # float() function converts given input to float
print('str(10) -> ',str(23)) # str() function converts given input to string

int(10.0) ->  49
float(10) ->  45.0
str(10) ->  23

####10.Why does this expression cause an error? how can you fix it?
'I have eaten ' + 99 + 'burritos.'

Ans: This cause of error is 99.because 99 is not a string. 99 must be typecasted to a string to fix this error.

In [ ]:
print('I have eaten '+str(99)+' burritos') # str() -> converts to a string